# File Config
# Path
1 D:\Project\Studia\Semestr_VI\ProjektGrupowy-AWS\DanePoMatlap\
# Angle values
2 70, 75, 80, 85, 89
# Starting points value
3 500, 1000
# Energy
4 2E8 - 6E6
# Threshold value
5 100000
# Result file
6 ResultFile.temp
# Operating mode 0 - full , 1 - Result file analysis
7 0
# dynanmic threshold 0 - false, 1 true
8 1
# percent
9 80
#end