#sciezka do katalogu z plikami
100 ..\test
#sciezka do katalogu wyjsciowego
200 ..\output
#sciezka do katalogu z wyodrebnionymi danymi ze struktur
300 ..\result
#ustawienia z przetwarzaniem plików (0 - przetwarzaj z wyjsciowych .txt / 1 - przetwarzaj z plików .bin )
400 0